#contactMe {
  background: $color-darkblue;
  padding: 130px 0 115px;
  margin-top: 107px;

  form {
    .form-floating > label {
      color: $color-superlightgray-2;
      &::after {
        background: $color-darkblue-4;
      }
    }
    input, textarea {
      border: none;
      outline: none;
      background: $color-darkblue-4;
      color: #ffffff;

      &.input-error {
        border: 1px solid red;
      }
    }
  }

  .boxtexts {
    h2 {
      font-size: 32px;
      color: $color-marineblue;
      font-weight: bold;
    }
    h5 {
      font-size: 24px;
      color: $color-marineblue;
      font-weight: normal;
    }
    p, a {
      color: $color-superlight-blue;
    }
  }
}