footer {
  margin-top: 200px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-content {
    background: $color-darkblue-4;
    padding: 70px 40px;
    text-align: center;

    @media screen and (min-width: $min-width) {
      text-align: start;
    }

    ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    img {
      width: 100%;
      max-width: 252px;
      height: inherit;
    }
  }

  .footer-bottom {
    background: $color-darkblue-4;
    padding: 18px 0;
    border-top: 2px solid $color-darkblue-3;
  }

  .section-footer {
    margin-top: 64px;
  }
}