@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&family=Kanit:wght@500;700&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #191C22 !important;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  color: $color-whiteblue;
}

.font-s16 {
  font-size: 16px !important;
}

.font-s22 {
  font-size: 22px !important;
}

.font-s28 {
  font-size: 28px !important;

  @media screen and (max-width: $min-width) {
    font-size: 20px !important;
  }
}

.color-simpleblue {
  color: $color-simpleblue;
}

.color-gray {
  color: $color-gray;
}

.color-marineblue {
  color: $color-marineblue;
}

.color-whiteblue {
  color: $color-whiteblue;
}

.text-justify {
  text-align: justify !important;
}

.blue-gradient {
  @keyframes gradientInit {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  background: linear-gradient(90deg, rgba(10, 114, 207, 1), rgb(99, 163, 231), rgb(20, 122, 211), rgb(42, 115, 179));
  background-clip: text;
  background-size: 250% 250%;
  -webkit-text-fill-color: transparent;
  animation: gradientInit 5s ease infinite;
}

.container {
  overflow: hidden;

  @media screen and (min-width: $min-width) {
    overflow: visible;
  }
}

.title-section {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -55px;

  &::before {
    content: '';
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: $color-lightgray;
    margin-right: 3px;
  }

  @media screen and (min-width: $min-width) {
    margin-left: 0;

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      left: -22px;
    }
  }

  h2 {
    color: $color-blue;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    position: relative;
    margin-bottom: 0;

    @media screen and (min-width: $min-width) {
      font-size: 32px;
    }
  }
}


.title-section-2 {
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -22px;
    border-radius: 50%;
    background: rgba(155, 164, 181, 0.47);
    margin-right: 3px;
  }

  h2 {
    color: $color-blue;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    position: relative;
    margin-bottom: 0;

    @media screen and (min-width: $min-width) {
      font-size: 32px;
    }
  }
}

.title-portfolio-project {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 28px;

  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -72px;
    border-radius: 50%;
    background: $color-lightgray;
    margin-right: 3px;

    @media screen and (min-width: $min-width) {
      left: -25px;
    }
  }

  h1 {
    color: $color-whiteblue;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    position: relative;
    margin-bottom: 0;

    @media screen and (min-width: $min-width) {
      font-size: 54px;
    }
  }

  @media screen and (min-width: $min-width) {
    margin-top: 0;
  }
}

.button-more-blue {
  width: 25px;
  height: 25px;
  display: block;
  background: url('/assets/images/plus-icon.png') 90% no-repeat, $color-marineblue 100%;
  background-position: center;
  border-radius: 50%;
}

.portfolio-item {
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin-bottom: 34px;
  cursor: pointer;
  animation: portfolioItem .5s ease-in;
  position: relative;
  height: 269px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgb(20, 66, 114) 20%, transparent);
  }

  @media screen and (min-width: $min-width) {
    height: 269px;
  }

  &:hover {
    .image-portfolio {
      transform: scale(1.04);
    }
  }

  .image-portfolio {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;

    .content {
      width: 100%;
      height: 100%;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  .content-texts {
    margin-top: 12px;
    position: absolute;
    width: 100%;
    z-index: 5;
    bottom: 20px;
    padding: 0 17px;
    transition: all .4s;

    &:hover {
      filter: brightness(.9);
    }

    .texts {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .title-project {
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @media screen and (min-width: $min-width) {
        font-size: 18px;
      }
    }
  }
}

@keyframes portfolioItem {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.i-email {
  display: block;
  width: 24px;
  height: 24px;
  background: url('/assets/images/email-icon.png') no-repeat;
  background-size: 100%;
  margin-right: 8px;
}

.i-phone {
  display: block;
  width: 48px;
  height: 28px;
  background: url('/assets/images/wpp-telegram-icon.png') no-repeat;
  background-size: 100%;
  margin-left: -16px;
}

.i-github-blue {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/assets/images/github-icon-blue.png') no-repeat;
  background-size: 100%;
}

.i-github-blue2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/assets/images/github-icon-blue-2.png') no-repeat;
  background-size: 100%;
}

.i-layout-design {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/assets/images/layout-design.svg') no-repeat;
  background-size: 100%;
}

.i-preview-blue {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/assets/images/click-preview.png') no-repeat;
  background-size: 100%;
}

.i-linkedin-blue {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/assets/images/linkedin-icon.png') no-repeat;
  background-size: 100%;
}

.button-darkblue-2 {
  display: block;
  padding: 17px 28px;
  border-radius: 10px;
  background: $color-dark-lightblue;
  text-align: center;
  max-width: 272px;

  transition: all .2s ease-in;

  &:hover {
    filter: brightness(.9);
  }
}

.socials {
  a {
    background: $color-dark-lightblue;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    transition: all .2s ease-in;

    &:hover {
      filter: brightness(.9);
    }
  }
}

.button-submit {
  border: none;
  background: $color-dark-lightblue;
  border-radius: 6px;
  padding: 8px 35px;
  font-weight: bold;
  color: #fff;
  animation: all .4s;

  &:hover {
    filter: brightness(.92)
  }
}

.sharebutton {
  background: none;
  display: flex;
  border: none;
  align-items: center;
  gap: 14px;
  justify-content: end;
  margin-top: 50px;
  margin-right: 10px;
  transition: all .4s;

  img {
    transition: all .4s;
  }

  &:hover {
    filter: brightness(.9);

    img {
      transform: scale(1.05);
    }
  }

  p {
    margin-bottom: 0;
    color: $color-blue;
    font-weight: bold;
  }
}

.toast {
  width: inherit !important;
  padding: 0 10px;
  background: $color-blue-24 !important;
  color: $color-whiteblue !important;
  border: none !important;
}

@keyframes bubleAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}