.navbar {
  background: $color-darkblue;
  padding: 9px 15px !important;

  .container {
    padding: 0;
  }

  img {
    width: 100%;
    max-width: 36px;
    height: 36px;

    @media screen and (min-width: $min-width) {
      max-width: 53px;
      height: 53px;
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0;

    img {
      width: 23px;
      height: 23px;
    }
  }

  .nav-item {
    .nav-link {
      font-size: 16px;
      color: #fff;
      font-weight: 400;

      &.active {
        font-weight: 500;
        color: #fff;
      }
    }
  }
}