#skills {
  margin-top: 65px;
  padding-top: 95px;

  .title-section {
    margin-bottom: 22px;

    @media screen and (min-width: $min-width) {
      margin-bottom: 46px;
    }
  }

  .nav-tabs {
    border-bottom: 2px solid $color-simpleblue-4;
    .nav-item {
      button {
        background: none;
        border: none;
        padding: 20px 18px;
        font-size: 22px;
        font-weight: bold;
        color: $color-simpleblue-4;
        margin-bottom: -2px;
        &.active {
          background: none;
          color: $color-marineblue;
          border: none;
          border-bottom: 2px solid $color-marineblue;
        }
      }
    }
  }

  .accordion {
    .accordion-item {
      background: none;
      border: none;
    }
    border: none;
    background: none;

    --bs-accordion-border-width: 0;    
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);

    .accordion-header {
      background: none;
      border: none;
      border-bottom: 2px solid $color-simpleblue-4;
      
      button {
        background: none;
        border: none;
        padding: 20px 10px;
        font-size: 18px;
        font-weight: bold;
        color: $color-simpleblue-4;
        margin-bottom: -2px;

        &[aria-expanded='true'] {
          color: $color-marineblue;
          border-bottom: 2px solid $color-simpleblue-4;
          outline: none;
        }
      }
    }

    .accordion-body {
      padding-top: 0;
    }
  }

  .skill-item {
    margin-top: 30px;

    img {
      max-width: 95px;
      height: fit-content;
    }
  }

  .levels {
    position: relative;

    .levels-content {
      display: flex;
      gap: 7px;
      position: relative;
      z-index: 10;


      @media screen and (min-width: $min-width) {
        &:hover {
          .box-level {
            &::after {
              color: $color-superlight-blue;
              background: $color-blue-24;
              animation: bubleAnimation .3s ease-in;
            }
            &::before {
              background: $color-blue-24;
              animation: opacityAnimation .4s ease-in;
            }
          }
        }

        &.tag-1 {
          &:hover {
            .box-level-1 {
              position: relative;

              &::after {
                content: '' attr(aria-label)'';
                max-width: 130px;
                display: block;
                border-radius: 6px;
                padding: 5px 16px;
                position: absolute;
                top: -50px;
                left: 0;
              }

              &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                top: -30px;
                left: 30%;
                transform: rotate(45deg);
                position: absolute;
              }
            }
          }
        }

        &.tag-2 {
          &:hover {
            .box-level-2 {
              position: relative;

              &::after {
                content: '' attr(aria-label)'';
                max-width: 130px;
                display: block;
                border-radius: 6px;
                padding: 5px 16px;
                position: absolute;
                top: -50px;
                left: 0;
              }

              &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                top: -30px;
                left: 30%;
                transform: rotate(45deg);
                position: absolute;
              }
            }
          }
        }

        &.tag-3 {
          &:hover {
            .box-level-3 {
              position: relative;

              &::after {
                content: '' attr(aria-label)'';
                max-width: 130px;
                display: block;
                border-radius: 6px;
                padding: 5px 16px;
                position: absolute;
                top: -50px;
                left: 0;
              }

              &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                top: -30px;
                left: 30%;
                transform: rotate(45deg);
                position: absolute;
              }
            }
          }
        }

        &.tag-4 {
          &:hover {
            .box-level-4 {
              position: relative;

              &::after {
                content: '' attr(aria-label)'';
                max-width: 130px;
                display: block;
                border-radius: 6px;
                padding: 5px 16px;
                position: absolute;
                top: -75px;
                left: 0;
              }

              &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                top: -30px;
                left: 30%;
                transform: rotate(45deg);
                position: absolute;
              }
            }
          }
        }

        &.tag-5 {
          &:hover {
            .box-level-5 {
              position: relative;

              &::after {
                content: '' attr(aria-label)'';
                max-width: 130px;
                display: block;
                border-radius: 6px;
                padding: 5px 16px;
                position: absolute;
                top: -50px;
                left: 0;
              }

              &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                top: -30px;
                left: 30%;
                transform: rotate(45deg);
                position: absolute;
              }
            }
          }
        }
      }
    }

    .box-level {
      width: 45px;
      height: 20px;
      border-radius: 4px;
      background: $color-blue-24;
    }

    .box-level-1 {
      background: $color-simpleblue-1;
    }

    .box-level-2 {
      background: $color-simpleblue-2;
    }

    .box-level-3 {
      background: $color-simpleblue-3;
    }

    .box-level-4 {
      background: $color-simpleblue-4;
    }

    .box-level-5 {
      background: $color-simpleblue-5;
    }

    .mask-levels {
      display: flex;
      position: absolute;
      gap: 7px;
      top: 0;
    }
  }
}