$color-darkblue: #212A3E;
$color-darkblue-3: #1E273A;
$color-blue: #394867;
$color-marineblue: #0A72CF;
$color-simpleblue: #385786;
$color-lightgray: #9BA4B5;
$color-superlightgray: #E8E8E8;
$color-gray: #7D7D7D;
$color-dark-lightblue: #144272;
$color-superlight-blue: #F1F6F9;
$color-superlight-blue-2: #e9f1f5;
$color-darkblue-2: #27324B;

$color-gray-9d: #D9D9D9;

$color-simpleblue-1: rgba(56, 87, 134, 0.20);
$color-simpleblue-2: rgba(56, 87, 134, 0.40);
$color-simpleblue-3: rgba(56, 87, 134, 0.60);
$color-simpleblue-4: rgba(56, 87, 134, 0.80);
$color-simpleblue-5: rgba(56, 87, 134, 1);

$min-width: 768px;