$color-darkblue: #111821;
$color-darkblue-3: #1E273A;
$color-darkblue-4: #141C26;
$color-blue: #6F95DD;
$color-marineblue: #328AE6;
$color-marineblue-2: #6B8ACE;
$color-simpleblue: #385786;
$color-lightgray: #193048;
$color-superlightgray: #E8E8E8;
$color-superlightgray-2: #62707E;
$color-superdarkblue: #1C2D3E;
$color-gray: #7D7D7D;
$color-dark-lightblue: #144272;
$color-superlight-blue: #F1F6F9;
$color-superlight-blue-2: #e9f1f5;
$color-darkblue-2: #27324B;
$color-whiteblue: #F0F4FF;

$color-gray-9d: #D9D9D9;
$color-blue-24: #242832;

$color-simpleblue-1: rgba(20, 66, 114, 0.20);
$color-simpleblue-2: rgba(20, 66, 114, 0.40);
$color-simpleblue-3: rgba(20, 66, 114, 0.60);
$color-simpleblue-4: rgba(20, 66, 114, 0.80);
$color-simpleblue-5: rgba(20, 66, 114, 1);

$min-width: 768px;
$min-width-2: 1400px;